<%include ../partials/header%>

	<div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1>Edit <%=campground.name %></h1>
        </div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<form action="/campgrounds/<%=campground._id%>/?_method=PUT" method="POST" enctype="multipart/form-data">
				<label for="name">Name</label>
				<input class="form-control mb-3" type="text" id="name" name="campground[name]" value="<%=campground.name%>">


				<label for="price">Price</label>
				<input class="form-control mb-3" type="text" id="price" name="campground[price]" value="<%=campground.price%>">

				<label for="imageUrl">Image Url</label>
				<input class="form-control mb-3" type="text" id="imageUrl" name="campground[image]" value="<%=campground.image%>">

				<label for="image">Image</label>
				<input class="mb-3" type="file" id="image" name="image" accept="image/*">

				<label for="description">Description</label>
				<input class="form-control mb-3" type="text" id="description" name="campground[description]" value="<%=campground.description%>">

				<button class="btn btn-lg btn-primary btn-block mb-3">Submit!</button>
				
			</form>
			<a href="/campgrounds">Go Back</a>
		</div>
		

		

	</div>


<%include ../partials/footer%>